*{-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;box-sizing:
     border-box; }

     /* body rules go here */

     body {
         font-family: Verana, geneva, sans-serif;
         font-size: 16px;
     }

     /* header rules go here */
     header{
         background-color: #79a4e9;
         padding: 1rem 2%;
     }

     header h1{
         margin: 0;
     }

     header h2{
         margin: 0;
     }

     /* nav rules go here */

    nav{background-color:#2f4a75;}
    nav ul {margin: 0; padding: 0;}
    nav li {list-style-type: none;}
    nav li.active {background-color: #333;}

    nav a{
      
        display: block;
        padding: .8rem 0; /* 44 min height */
        color: #eee;
        text-align: center;
        text-decoration: none;

    }

    nav a:hover {
        background-color:#75705b
    }

     /* main rules go here */

     main {
        padding: 1rem 2%;
        display: block;
    }
    main h1 {color: #75705b; }
    main article h3 {color: #75705b;}
    
    main figure img {width: 100%;}
    main figure{
        width: 100%;
        margin: 0;
    }
    main figcaption {text-align: center; font-size: .8rem;}
    
    footer {
        text-align:center;
        padding: 1rem 2%;
        background-color: #5786d1;
    }
    
    
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    
    }
    
